/* Decodificador - 1 Desktop */
.main {
    position: relative;
width: 1440px;
height: 1024px;
background: #F3F5FC;
}

/* Digite seu texto */
.tBox{
position: absolute;
width: 680px;
height: 48px;
left: 240px;
top: 168px;
outline: None;
border: None;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

/* Dark blue/dark-blue-300 */
color: #0A3871;
}

.imagem{
    /* Rectangle 1 */

position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

}

footer{
position:fixed;
left:0;
bottom: 0;
width: 100%;
font-size: 8pt;
font-family:'Inter';
font-weight: 400;
background-color: #F3F5FC;
color:#0A3871;
text-align: left;
}

.buttonBox{
/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 750px;


}

.crip{
/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 150px;
height: 67px;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Button */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


}

.decrip{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 150px;
height: 67px;

/* Light gray */
background: #D8DFE8;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Button */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #0A3871;


}

.copyBtn{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 100px;
height: 67px;
left: 0px;
top: 730px;

/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Button */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #0A3871;

}

.resposta{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */

position: absolute;
width: 336px;
height: 781px;
left: 0px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */

/* Gray/gray-400 */
color: #495057;


}